body {
	background-color: rgb(42, 96, 214);
}

.centrar {
	display: flex;
	justify-content: center;
}

img {
	margin: 0 auto;
}

.txt-turn {
	text-align: center;
	font-size: 38px;
	color: white;
	font-weight: bold;
}

.txt-turn span {
	background-color: white;
	color: tomato;
	padding: 10px;
	text-align: center;
}

.puntaje-jugador-1 {
	font-size: 30px;
	color: greenyellow;
	font-weight: bold;
}

.puntaje-jugador-1 span,
.puntaje-jugador-2 span {
	font-size: 35px;
	font-style: italic;
}

.puntaje-jugador-2 {
	font-size: 30px;
	color: yellow;
	font-weight: bold;
}

.tit-principal {
	font-size: 32px;
	color: white;
	text-align: center;
	font-weight: bold;
}
.advertencia {
	color: rgb(135, 233, 228);
	font-size: 20px;
	text-align: center;
}

.advertencia span {
	color: white;
	font-style: italic;
}

@media screen and (min-width: 550px) {
	.txt-turn span {
		background-color: white;
		color: tomato;
		padding: 20px;
		text-align: center;
	}
}

@media screen and (min-width: 1020px) {
	.tit-principal {
		font-size: 42px;
	}

	.advertencia {
		font-size: 34px;
	}
}
