body {
	background-color: rgb(42, 96, 214);
}

.centrar {
	display: flex;
	justify-content: center;
}

img {
	margin: 0 auto;
}

.txt-turn {
	font-size: 38px;
	color: white;
	font-weight: bold;
}

.tit-principal {
	color: white;
	text-align: center;
	font-weight: bold;
}
.advertencia {
	color: yellowgreen;
	font-size: 42px;
}
